/S3/nbproject/private/
/S3/build/
/S4/nbproject/private/
/S4/build/
/S4/dist/
/P1/S4_1/nbproject/private/
/P2/Prueba/nbproject/private/
/P2/Prueba/build/
/P2/Prueba/dist/
/P2/nbproject/private/
/P2/build/
/P2/dist/